<div class="panel-options block">
	<div class="panel-options__buttons">
		<div class="btn-group">
			<button class="btn-little btn-add" ng-click="add()"></button>
			<button class="btn-little btn-del" ng-click="del()"></button>
		</div>
		<div class="btn-group">
			<button class="btn" ng-click="archive()">Архив</button>
		</div>
	</div>
	<input id="search" class="input-search input-style input-md" type="text" placeholder="Поиск по таблице ...">
	<label class="input-icon icon-search" for="search"></label>
</div>