@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vhfpa7');
  src:  url('fonts/icomoon.eot?vhfpa7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vhfpa7') format('truetype'),
    url('fonts/icomoon.woff?vhfpa7') format('woff'),
    url('fonts/icomoon.svg?vhfpa7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen-exit:before {
  content: "\e914";
}
.icon-fullscreen:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e901";
}
.icon-ic_back:before {
  content: "\e902";
}
.icon-ic_back_circle:before {
  content: "\e903";
}
.icon-ic_forward:before {
  content: "\e904";
}
.icon-ic_cars:before {
  content: "\e905";
}
.icon-ic_cashbox:before {
  content: "\e906";
}
.icon-ic_clients:before {
  content: "\e907";
}
.icon-ic_orders:before {
  content: "\e908";
}
.icon-ic_parts:before {
  content: "\e909";
}
.icon-ic_reports:before {
  content: "\e90a";
}
.icon-ic_services:before {
  content: "\e90b";
}
.icon-in_inparts:before {
  content: "\e90c";
}
.icon-ic_dollar:before {
  content: "\e90d";
}
.icon-ic_euro:before {
  content: "\e90e";
}
.icon-ic_ukraine_hryvna:before {
  content: "\e90f";
}
.icon-ic_add:before {
  content: "\e910";
}
.icon-ic_delete:before {
  content: "\e911";
}
.icon-chevron-left:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-calendar2:before {
  content: "\e953";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-print:before {
  content: "\f02f";
}
.icon-chevron-left2:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-user-o:before {
  content: "\f2c0";
}
