<div class="content col-12" ng-controller="sparesCtrl">
	<!-- include "/blocks/panel-period/panel-period.html" -->
	<!-- include "/blocks/panel-options/panel-options.html" -->
	<div class="row mx-0">
		<div class="col-12 col-md-2 col-xl-3 px-0">
			<!-- include "/blocks/block-folder-tree/block-folder-tree.html" -->
		</div>
		<div class="col-12 col-md-10 col-xl-9 px-0">
			<!-- include "/blocks/table-spares/table-spares.html" -->
			<!-- include "/blocks/elem-pagination/elem-pagination.html" -->
		</div>
	</div>	
</div>
						

					
