<div class="panel-options block justify-content-start flex-wrap">
	<div class="panel-options__buttons">
		<div class="btn-group">
			<button class="btn-little btn-print" ng-click="print()"></button>
			<button class="btn-little btn-del" ng-click="del()"></button>
		</div>
		<div class="btn-group">
			<a href="#!spares" class="btn mr-2">Подбор</a>
			<a href="#!spares" class="btn">Подбор услуг</a>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group">
		<label for="order-date-from">от</label>
		<input class="order-options-date input-style input-sm" id="order-options-date-from" type="text">
		<label class="input-date__icon" for="order-date-from"></label>
	</div>
	<div class="form-group">
		<label for="order-date-to">до</label>
		<input class="order-options-date input-style input-sm" id="order-options-date-to" type="text">
		<label class="input-date__icon" for="order-date-from"></label>
	</div>
	</div>
	
</div>