<div class="content col-12" ng-controller="sparesCtrl">
	<form class="panel-period"  ng-controller="periodCtrl">
	<input class="input-date input-lg" type="text" id='periodFrom' placeholder="От">
	<input class="input-date input-lg" type="text" id='periodTo' placeholder="До">
	<button class="priod-btn period-all">Все</button>
	<div class="priod-btn__group">
		<button class="priod-btn active">Сегодня</button>
		<button class="priod-btn">Вчера</button>
		<button class="priod-btn">7 дней</button>
		<button class="priod-btn">30дней</button>
		<button class="priod-btn">90дней</button>				
	</div>
</form>

	<div class="panel-options block">
	<div class="panel-options__buttons">
		<div class="btn-group">
			<button class="btn-little btn-add" ng-click="add()"></button>
			<button class="btn-little btn-del" ng-click="del()"></button>
		</div>
		<div class="btn-group">
			<button class="btn" ng-click="archive()">Архив</button>
		</div>
	</div>
	<input id="search" class="input-search input-style input-md" type="text" placeholder="Поиск по таблице ...">
	<label class="input-icon icon-search" for="search"></label>
</div>
	<div class="row mx-0">
		<div class="col-12 col-md-2 col-xl-3 px-0">
			<div class="block-folder-tree">
	<ul class="folder-tree">
		<li class="folder">Новые
			<ul class="folder__items">
				<li class="folder__item">Mercedes Sprinter</li>
				<li class="folder__item">Mercedes Sprinter</li>
			</ul>
		</li>
		<li class="folder">Б/У
			<ul class="folder__items">
				<li class="folder__item">Mercedes Sprinter</li>
				<li class="folder__item">Mercedes Sprinter</li>
			</ul>
		</li>
	</ul>
</div>
		</div>
		<div class="col-12 col-md-10 col-xl-9 px-0">
			<div class="table-spares table-block">
	<table custome-table="spares" options="checkbox">
	</table>
</div>


<!-- 	<table>
		<thead>
			<tr>
				<th>
					<input type="checkbox">
				</th>
				<th>Наименования</th>
				<th>Артикул</th>
				<th>Кол-во</th>
				<th>Мин.кол-во</th>
				<th>Резерв</th>
				<th>Закупочная цена</th>
				<th>Розничная цена</th>
				<th>Модель авто</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox"></td>
				<td>Ocь Fondex, Бренд</td>
				<td>ВМ3223</td>
				<td>3223</td>
				<td>222</td>
				<td>22</td>
				<td class="text-nowrap">22 220 грн</td>
				<td class="text-nowrap">22 220,32 грн</td>
				<td>Mercedes Sprinter</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Ocь Fondex, Бренд</td>
				<td>ВМ3223</td>
				<td>3223</td>
				<td>222</td>
				<td>22</td>
				<td class="text-nowrap">22 220 грн</td>
				<td class="text-nowrap">22 220,32 грн</td>
				<td>Mercedes Sprinter</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Ocь Fondex, Бренд</td>
				<td>ВМ3223</td>
				<td>3223</td>
				<td>222</td>
				<td>22</td>
				<td class="text-nowrap">22 220 грн</td>
				<td class="text-nowrap">22 220,32 грн</td>
				<td>Mercedes Sprinter</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Ocь Fondex, Бренд</td>
				<td>ВМ3223</td>
				<td>3223</td>
				<td>222</td>
				<td>22</td>
				<td class="text-nowrap">22 220 грн</td>
				<td class="text-nowrap">22 220,32 грн</td>
				<td>Mercedes Sprinter</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Ocь Fondex, Бренд</td>
				<td>ВМ3223</td>
				<td>3223</td>
				<td>222</td>
				<td>22</td>
				<td class="text-nowrap">22 220 грн</td>
				<td class="text-nowrap">22 220,32 грн</td>
				<td>Mercedes Sprinter</td>
			</tr>
		</tbody>
	</table> -->
			<div class="pagination">
	<ul class="pagination__items">
		<li class="pagination__item pagination__prev"><a href="#"></a></li>
		<li class="pagination__item pagination__number"><a href="#">1</a></li>
		<li class="pagination__item pagination__number active"><a href="#">2</a></li>
		<li class="pagination__item pagination__number"><a href="#">3</a></li>
		<li class="pagination__item pagination__number"><a href="#">4</a></li>
		<li class="pagination__item pagination__next"><a href="#"></a></li>	
	</ul>
</div>
		</div>
	</div>	
</div>
						

					
